@model IEnumerable<web_shell_dotnetcore.Models.PowerShellCM>

@{
    ViewData["Title"] = "Index";
}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(function () {

        function executeCmd() {
            
            
            $.ajax({

                type: 'POST',
                url: 'PowerShellCMs/Cmd',
                contentType: 'application/x-www-form-urlencoded',
                data: { cmd: $("#cmd").val() },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success: function (json) {
                    $("#exev").text(json)
                },

            })
        }

        $("#submitCommand").click(function () {
            executeCmd();
        })

        $("#cmd").keypress(function (e) {
            if (e.which == 13) {
                executeCmd();
                return false;
            }
        });

        
    });
</script>

<h1>Terminal's output</h1>
<div class="container p-3 my-3 bg-dark rounded">

    <pre>
        <code id="exev" class="text-white">
            Output will be here
        </code>
    </pre>

</div>
<p>Enter your command:</p>
<span style="display: inline-flex !important;">
    @Html.AntiForgeryToken()
    <input id="cmd" class="form-control" type="text" style="width: 400px;" />
    <button id="submitCommand" class="btn btn-primary">Send</button>
</span>